body::before{
    content: "";
        background: url("/images/fimg.jpg")no-repeat center center/cover;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
        opacity: 0.89;
    box-shadow: 0px 7px 12px black;
}
#form_body{
    margin: 11%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 10px black;
}
.form{
    padding: 10px;
}
.form h1{
    color: aliceblue;
}
.checkbox{
    color: aliceblue;
}
